body{
    background-color:whitesmoke;
}
.top{
    display: flex;
    width: 92vw;
    align-items: center;
    background-color: red;
    position: static;
    width: 100%;
    border-radius: 20px;

   
}
.logo{
    width: 150px;
    margin: 25px;
}

.search1{
    border: 2px solid black;
    color: aliceblue;
    border-radius: 10px;
    background-color: black;
    margin: 10px;
}
.location{
    border: 1px solid black;
    border-radius: 5px;
    margin: 20px auto;
}
.search{
    border: 1px solid black;
    border-radius: 5px;
    width: 170px auto;
    margin: 20px auto;
}
.home{
    color: grey;
}
.del{
    display: flex;
    margin: 35px;
    align-items: center;
    transition:.1s ;

}
.bike{
    width: 50px;
    
}
.card{
    display: flex;
    margin:35px ;
    gap: 55px;
    transition:.1s ;
}
.choose{
    width: 200px;
}
.hh{
    margin: 40px;
}
.sud{
    display: flex;
    margin: 20px;
    gap: 220px;
    padding: 20px;
}
.dresses{
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
    margin: 35px ;

}
.box1{
    border: 2px solid lightgray;
    margin: 60px auto;
    padding: 10px ;
   /* text-align: none;*/
    width: 260px;
    border-radius: 14px;
    transition:.1s ;
}
    

.food-card-img{
    border-top-left-radius: 10px;
    border-top-right-radius: 20px;
    width: 100%;
    
}
.box1:hover{
    width: 320px;
    border:1px solid white;
    border-radius: 20px;
    box-shadow: 4px 7px 16px 8px #eee;
    transform: rotate(2deg);
}
.pro{
   
    background-color: red;
    border-radius: 12px;
    text-align: center;
    width: 100%;
    position: sticky;
    bottom: 0px;
}
.prom{
    font-size: larger;
}
.del:hover{
    width: 320px;
    border:1px solid white;
    border-radius: 20px;
    box-shadow: 4px 7px 16px 8px #eee;
    transform: rotate(0.4deg);
}
.card:hover{
    width: 320px;
    border:1px solid white;
    border-radius: 20px;
    box-shadow: 4px 7px 16px 8px #eee;
    transform: rotate(0.4deg);
}